.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 585px;
  height: 609px;
  background: linear-gradient(90deg, #F78CA0 0%, #F9748F 20.31%, #FD868C 66.67%, #FE9A8B 100%), #FEAFAF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 30px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}