.button {
  width: 143px;
  height: 74px;
  font-size: 25px;
  font-weight: 300;
  color: #fafafa;
  background: transparent;
  border: 1px solid #fafafa;
  border-radius: 300px;
  cursor: pointer;
}
