$app-background-time-on: linear-gradient(90deg, #F78CA0 0%, #F9748F 20.31%, #FD868C 66.67%, #FE9A8B 100%);
$app-background-time-off: linear-gradient(180deg, #48C6EF 0%, #6F86D6 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $app-background-time-on;
}
